review_descussion.txt
app.log
logs/*
backend/logs/app.log
tmp
tmp/*


backend/src/main/resources/document/*
backend/src/main/resources/expense/*
backend/src/main/resources/cv/*
backend/src/main/resources/job/*
